<div class="backdrop modal-open is-hidden" data-modal-team>
  <div class="modal">
    <button class="modale__btn-close btn__close-modal" data-modal-team-close>
      <svg class="modal__btn-icon" width="18" height="18">
        <use href="./images/icons-sprite.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="title">The Wizards of DOM</h2>
    <div class="team-lead">
      <ul class="team-lead-two">
        <li>
          <picture>
            <source
              media="screen and (max-width:480px)"
              srcset="/src/images/team.images/Cristina.jpg"
            />
            <source
              media="screen and (max-width:767px)"
              srcset="/src/images/team.images/Cristina.jpg"
            />
            <source
              media="screen and (max-width:1200px)"
              srcset="/src/images/team.images/Cristina.jpg"
            />
            <img
              class="imag-team"
              width="100"
              src="/src/images/team.images/Cristina.jpg"
              alt="Cristina-Irina"
            />
          </picture>
          <h3 class="ourtime__names name">Cristina-Irina</h3>
          <p class="ourtime__ocupation">Team Lead</p>
          <div class=" ">
            <ul class="unstyled-list list-svg">
              <li>
                <a
                  class="ourtime__backgrounds-icon linkedin"
                  href="https://www.linkedin.com/in/cristina-irina-rmackay/"
                  target="_blank"
                >
                  <svg width="15px" height="15px">
                    <use
                      href="/src/images/icons/sprite.svg#icon-linkedin-1"
                    ></use>
                  </svg>
                </a>
              </li>
              <li>
                <a
                  class="ourtime__backgrounds-icon github"
                  href="https://github.com/Cristina-Irina"
                  target="_blank"
                >
                  <svg width="20px" height="20px">
                    <use
                      href="/src/images/icons/sprite.svg#octicon octicon-mark-github"
                    ></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <picture>
            <source
              media="screen and (max-width:480px)"
              srcset="/src/images/team.images/Florin.png"
            />
            <source
              media="screen and (max-width:767px)"
              srcset="/src/images/team.images/Florin.png"
            />
            <source
              media="screen and (max-width:1200px)"
              srcset="/src/images/team.images/Florin.png"
            />
            <img
              class="imag-team"
              width="100"
              src="/src/images/team.images/Florin.png"
              alt="Florin"
            />
          </picture>
          <h3 class="ourtime__names name">Bejera Florin</h3>
          <p class="ourtime__ocupation">Scrum Master</p>
          <div>
            <ul class="unstyled-list list-svg">
              <li>
                <a
                  class="ourtime__backgrounds-icon linkedin"
                  href="https://www.linkedin.com/in/florin-bejera-1b213b263"
                  target="_blank"
                >
                  <svg width="15px" height="15px">
                    <use
                      href="/src/images/icons/sprite.svg#icon-linkedin-1"
                    ></use>
                  </svg>
                </a>
              </li>
              <li>
                <a
                  class="ourtime__backgrounds-icon github"
                  href="https://github.com/FlorinBejera2002"
                  target="_blank"
                >
                  <svg width="20px" height="20px">
                    <use
                      href="/src/images/icons/sprite.svg#octicon octicon-mark-github"
                    ></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <div class="team-lead">
      <ul class="team-lead-two">
        <li>
          <picture class="developer-img">
            <source
              media="screen and (max-width:480px)"
              srcset="/src/images/team.images/Mihail.png"
            />
            <source
              media="screen and (max-width:767px)"
              srcset="/src/images/team.images/Mihail.png"
            />
            <source
              media="screen and (max-width:1200px)"
              srcset="/src/images/team.images/Mihail.png"
            />
            <img
              class="imag-team"
              width="100"
              src="/src/images/team.images/Mihail.png"
              alt="Mihail"
            />
          </picture>
          <h3 class="ourtime__names name">Mihail Michael</h3>
          <p class="ourtime__ocupation">Developer</p>
          <div class=" ">
            <ul class="unstyled-list list-svg">
              <li>
                <a
                  class="ourtime__backgrounds-icon linkedin"
                  href="https://www.linkedin.com/in/mihail-chisbac-827b96274"
                  target="_blank"
                >
                  <svg width="15px" height="15px">
                    <use
                      href="/src/images/icons/sprite.svg#icon-linkedin-1"
                    ></use>
                  </svg>
                </a>
              </li>
              <li>
                <a
                  class="ourtime__backgrounds-icon github"
                  href="https://github.com/MihailMichael"
                  target="_blank"
                >
                  <svg width="20px" height="20px">
                    <use
                      href="/src/images/icons/sprite.svg#octicon octicon-mark-github"
                    ></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <picture class="developer-img">
            <source
              media="screen and (max-width:480px)"
              srcset="/src/images/team.images/Costel.jpg"
            />
            <source
              media="screen and (max-width:767px)"
              srcset="/src/images/team.images/Costel.jpg"
            />
            <source
              media="screen and (max-width:1200px)"
              srcset="/src/images/team.images/Costel.jpg"
            />
            <img
              class="imag-team"
              width="100"
              src="/src/images/team.images/Costel.jpg"
              alt="Cristina-Irina"
            />
          </picture>
          <h3 class="ourtime__names name">Costel Amariutei</h3>
          <p class="ourtime__ocupation">Developer</p>
          <div class=" ">
            <ul class="unstyled-list list-svg">
              <li>
                <a
                  class="ourtime__backgrounds-icon linkedin"
                  href="https://www.linkedin.com/in/costel-amariutei-573a2a232/"
                  target="_blank"
                >
                  <svg width="15px" height="15px">
                    <use
                      href="/src/images/icons/sprite.svg#icon-linkedin-1"
                    ></use>
                  </svg>
                </a>
              </li>
              <li>
                <a
                  class="ourtime__backgrounds-icon github"
                  href="https://github.com/camariu?tab=repositories"
                  target="_blank"
                >
                  <svg width="20px" height="20px">
                    <use
                      href="/src/images/icons/sprite.svg#octicon octicon-mark-github"
                    ></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <picture class="developer-img">
            <source
              media="screen and (max-width:480px)"
              srcset="/src/images/team.images/Alex.jpg"
            />
            <source
              media="screen and (max-width:767px)"
              srcset="/src/images/team.images/Alex.jpg"
            />
            <source
              media="screen and (max-width:1200px)"
              srcset="/src/images/team.images/Alex.jpg"
            />
            <img
              class="imag-team"
              width="100"
              src="/src/images/team.images/Alex.jpg"
              alt="Alexandru"
            />
          </picture>
          <h3 class="ourtime__names name">Alexandru Stan</h3>
          <p class="ourtime__ocupation">Developer</p>
          <div class=" ">
            <ul class="unstyled-list list-svg">
              <li>
                <a
                  class="ourtime__backgrounds-icon linkedin"
                  href="https://www.linkedin.com/"
                  target="_blank"
                >
                  <svg width="15px" height="15px">
                    <use
                      href="/src/images/icons/sprite.svg#icon-linkedin-1"
                    ></use>
                  </svg>
                </a>
              </li>
              <li>
                <a
                  class="ourtime__backgrounds-icon github"
                  href="https://github.com/"
                  target="_blank"
                >
                  <svg width="20px" height="20px">
                    <use
                      href="/src/images/icons/sprite.svg#octicon octicon-mark-github"
                    ></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
