<section class="library-gallery">
  <h2 class="visually-hidden">Library movie</h2>
  <div class="container library-gallery__wrap">
    <img class="library-gallery__image" src="./images/library-img/library_img.png" alt="" width="750"/>
    <p class="library-gallery__text">The library is empty.</p>
    <p class="library-gallery__text">Add some movies.</p>
    <div class="library-home">
              <a
                href="./index.html"
                class="link header__buttn-link libr-bttn home current-page"
              >
                BACK HOME
              </a>
              </div>
             
  </div>
</section>
