
.basicLightbox {
  overflow: scroll;
}

.unstyled-list {
  list-style: none;
}


.team-modal {
  width: 750px;
  height: 650px;
  background: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
  z-index: 100;
}

.btn__close-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: 2px solid #b92f2c;
  background: white;
  color: black;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}

.btn__close-modal:focus {
  fill: #b92f2c;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modale__btn-close:hover {
  fill: #b92f2c;
}

.title {
  font-weight: 700;
  font-size: 30px;
  line-height: 23px;
  text-align: center;
  color: #b92f2c;
  padding-bottom: 14px;
}

.imag-team {
  border-radius: 50%;
  border: 3px solid #b92f2c;
  &:hover,
  &:focus {
    transform: scale(1.3);
      filter: saturate(125%);
      box-shadow: 0 0 20px #662423;
  }
}

.ourtime__svg {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.ourtime__svg-list {
  display: flex;
  gap: 10px;
  padding-left: 32px;
  padding-right: 32px;
}

.ourtime__backgrounds-icon {
  border-radius: 10px;
  fill: white;
  display: flex;
  height: 35px;
  width: 35px;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  background-color: white;
  fill: #b92f2c;
}

.ourtime__backgrounds-icon:hover {
  background-color: #b92f2c;
  fill: white;
  transform: scale(1.3);
}

.ourtime__backgrounds-icon {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-lead {
  justify-content: center;
  display: flex;
  padding-top: 10px;
  border-bottom: 1px solid;
  padding-bottom: 10px;
}

.team-lead-two {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 60px;
  flex-wrap: wrap;
  justify-content: center;
}

.list-svg {
  display: flex;
  padding: 0;
  justify-content: center;
  margin-top: 5px;
  
}

.name {
  text-align: center;
  margin-top: 10px;
}

.ourtime__ocupation {
  margin-top: 3px;
  text-align: center;
}

.linkedin {
  height: 35px;
  width: 35px;
}

.linkedin:hover {
  background-color: #b92f2c;
}

.developer-team {
  display: flex;
  gap: 60px;
  justify-content: center;
  list-style: none;
  padding-top: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.developer-img {
  display: flex;
  justify-content: center;
}

.github:hover {
  background-color: #b92f2c;
}

 
@media (min-width: 481px) {
  .team-modal {
    width: 90%;
    height: auto;
    max-width: 750px;
    padding: 20px;
  }

  .title {
    margin-top: 20px;
  }
}

 
@media (max-width: 480px) {
  .team-modal {
    width: 90%;
    height: auto;
    max-width: 400px;
    padding: 20px;
  }

  .team-lead-two {
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .developer-team {
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
}
