.btn--to-top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 10000;
  border: none;
  outline: none;
  background-color: rgb(220, 220, 220);

  cursor: pointer;

  border-radius: 50%;

  transition: background-color 250ms ease-in-out;
  transition: scale 250ms ease-in-out;
}
.btn--to-top:hover,
.btn--to-top:focus {
  background-color: rgb(177, 177, 177);
  scale: 1.1;
}

.icon-arrow {
  fill: #b92f2c;
}

.hidden {
  display: none;
}

.backdrop::-webkit-scrollbar-thumb {
  background-color: #b92f2c;
  border: 2px solid #353740;
}
.backdrop::-webkit-scrollbar-track {
  background-color: #e6e6e6;
}
.backdrop::-webkit-scrollbar {
  width: 10px;
}
